In [ ]:
s=input()
i=0
c=0
while i<len(s):
    if s[i].isdigit():
        c+=1
    i+=1
print(c)

In [2]:
s=input()
i=0
c=0
sum=0
while i<len(s):
    if s[i].isdigit():
        c+=1
        sum+=int(s[i])
    i+=1
print("count is:",c,"sum of digit is:",sum)

hdfsj657jd
count is: 3 sum of digit is: 18

In [ ]:
#for loop
#using range
#using iterable object

In [7]:
n=int(input("enter a number"))
for i in range(1,n+1,2):
    print(i,end=" ")

enter a number10
1 3 5 7 9

In [11]:
s=input()
i=0
while i<len(s):
    print(s[i],end=" ")
    i+=1
for i in range(0,len(s)):
    print(s[i],end=" ")
print()
for i in s:
    print(i,end=" ")

phython
p h y t h o n p h y t h o n
p h y t h o n

In [ ]:
#collection type data type
#1.for creating a list use[]
#2.list are mutable
#3.list are indexed
#4.list are ordered
#5.list allows duplicate values
#6.if stores heterogeneous values

In [21]:
list1=[23,34,456,56.87,"string",True,[1,2,3]]
print(list1[-1])
print(list1[2:4])
print(list1[-3][::-1])
print(list1[-1][-1])

[1, 2, 3]
[456, 56.87]
gnirts
3

In [22]:
list1=[34,45,56,67]
print("before adding elements:",list1)
list1.append(100)
list1.append(200)
list1.append(300)
print("after adding elements:",list1)

before adding elements: [34, 45, 56, 67]
after adding elements: [34, 45, 56, 67, 100, 200, 300]

In [46]:
list1.insert(3,67)
list1

[34, 45, 56, 67, 100, 200, 300]

In [42]:
list1.pop(1)

400

In [43]:
print(list1)

[34, 45, 56, 67, 100, 200, 300]

In [47]:
list1.remove(67)
print(list1)

[34, 45, 56, 100, 200, 300]

In [48]:
#replacing an element
list1[3]=500
list1

[34, 45, 56, 500, 200, 300]

In [ ]:
14=[2,5,7,8,9]
14

In [ ]:
14=[2,5,7,8,9]
14

In [51]:
#sorting a list
list1=[34,56,7,68,78,45,67]
list1.sort(reverse=True)
list1

[78, 68, 67, 56, 45, 34, 7]

In [53]:
list1.count(7)

1

In [57]:
list1.append("phython")
list2=list1
print(list1," ",list2)

[78, 68, 67, 56, 45, 34, 7, 'phython']   [78, 68, 67, 56, 45, 34, 7, 'phython']

In [58]:
list3=list1.copy()
list3

[78, 68, 67, 56, 45, 34, 7, 'phython']

In [73]:
list4=[2,3,4,5]
list6=[]
for i in range(0,4):
    s=list4[i]
    sq=s**2
    list6.append(sq)
print(list6)

[4, 9, 16, 25]

In [ ]:
14=[2,4,5,6,8]
for i in 11:
    if i%2==0:
        14.append(i)
print(14)

In [ ]:
list1=[]
n=int(input())
for i in range(n):
       list1.append(int(input()))
a=sum(list1)
print(a)

In [1]:
x=23,34,45,56,67
print(x)
print(type(x))

(23, 34, 45, 56, 67)
<class 'tuple'>

In [2]:
print(x)

(23, 34, 45, 56, 67)

In [3]:
tup1=(23,34,5)
x,y,z=tup1
print(x,y,z)

23 34 5

In [4]:
print(y)

34

In [ ]:
#dictionary
 syntax:{key1:value1,key2:value2,....}
    key:
1:key should be unique
2:key should be immutable-->

In [6]:
dict1={"name":"preeti","course":"phython","address":"hyd"}
dict1["course"]

'phython'

In [7]:
#replace values
dict1["course"]="c programming"
print(dict1)

{'name': 'preeti', 'course': 'c programming', 'address': 'hyd'}

In [8]:
#adding entry
dict1["college"]="gitam"
print(dict1)

{'name': 'preeti', 'course': 'c programming', 'address': 'hyd', 'college': 'gitam'}

In [9]:
#removing entry
del dict1["address"]
print(dict1)

{'name': 'preeti', 'course': 'c programming', 'college': 'gitam'}

## function
### def name of the function(arg list):
####    statements
####    return

In [17]:
def cube(x):#fuction definition
      return square(x)*x
print(cube(2))#fuction calling

NameError: name 'square' is not defined